* {
    /* for sanity's sake */
    box-sizing: border-box;
    /* color: white; */
    color: rgb(33, 33, 34);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}

.nav {
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    width: 100%;
    height: 5em;
}
.navright {
    display: flex;
    justify-content: flex-end;
}

/* Collapse nav bar */
.navitemsright {
    display: none;
}

.navitemsrightopen {
    opacity: 95% !important;
    /* position: relative;
    z-index: -1; */
    background-color: black;
    flex-direction: column;
    padding-inline-start: 0;
    margin-top: 30%;
    margin-left: -100%;
    margin-bottom: -200%;
    width: 200%;
    display: flex;
}

.navitemsrightopen a {
    font-size: 30px;
}

.navitemsrightopen li {
    width: 90%;
    height: 100%;
    margin: 0;
}

.navitemsrightopen li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.icon {
    /* margin: 1.5em 1em; */
}
    
.myname {
    font-size: 1.3em;
    font-weight: bolder;
    display: none;
}

.subname {
    font-size: 1.3em;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    /* margin: 0; */
}
.nav * {
    color: white;

}

hr {
    /* position: absolute; */
    width: 90%;
}

.navleft *{
    margin: 0;
    padding: 1rem;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
}

.navleft a {
    /* height: 34px;
    width: 34px; */
    padding: 1px;
    /* background-color: black; */
}

.fa-bars {
    padding: 0 !important;
    color: black !important;
    padding: 1px !important;
    font-size: 30px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

ul * {
    margin: 0 1em;
}

.cont-top {
    background-image: url(images/closeup-photo-of-black-and-blue-keyboard-1194713.jpg);
    /* background-size: unset; */
    color: white;
    /* position: absolute; */
    width: 100%;
    padding: 45% 0;
    /* padding: 8em 0; */
    /* padding: 130px 0px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

.cont-top * {
    color: white;
}

.cont-main {
    /* background-color: violet; */
    /* background-color: black; */
    /* height: 100vh; */
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    color: white;
    padding: 1em;
    height: 70vh;
}

.about-me-text {
    font-size: 1.2em;
    line-height: 1.5em;
    
    /* text-align: center; */
    margin: auto 10vw;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-pics {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.work-card {
    max-width: 70%;
}

.doge {
    /* height: 100px; */
    width: 5rem;
}
.doge img {
    /* height: 100%; */
    width: 100%;
    transform: rotate(90deg);
}

.work-card img {
    background-image: linear-gradient(to bottom, rgb(2, 2, 43) , rgb(29, 29, 201));
    border: 0.1em solid transparent;
    width: 100%;
}

.work-card {
    height: 100%;
    width: 100%;
}

.work-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}

.word-sub-item {

}

.work-sub i {
    font-size: 2rem;
}
.work-sub p {
    font-size: 0.7em;
}

.main {
    display: flex;
    flex-direction: column;
}

.profile {
    max-width: 100px;
}

.cont-main {
    display: flex;
    flex-direction: column;
}

.skills {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 0 0.3em;
    width: 90%;
    max-width: 750px;
    /* height: 100vh; */
}

.skill-card {
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

i p {
    font-size: 0.2em;
    margin: 0;
}
i {
    text-align: center;
}

.skill-card i {
    font-size: 70px;
    /* width: 100%; */
}

.contact-card {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2em;
}

.contact-card i {
    font-size: 40px;
}

.foot {
    background-color: rgb(33, 33, 34);
    padding: 5rem;
}
i:hover {
    color: rgb(3, 3, 182);
    transition: 0.3s;
}
li a:hover {
    color: rgb(3, 3, 182);
    transition: 0.3s;
}

@media screen and (min-width: 628px) {
    .cont-top {
        padding: 12em 0;
    }
    .myname {
        display: inline-block;
    }

    .nav {
        background-color: rgb(33, 33, 34);
        border-bottom: 0.2em solid transparent;
        border-image: linear-gradient(to right, rgb(214, 182, 0) , rgb(29, 29, 201));
        border-image-slice: 1;
    }
    .navitemsright {
        display: flex;
    }

    .icon {
        display: none;
    }
    .skill-card i {
        margin: 3px;
        font-size: 100px;
        /* justify-self: center;
        align-self: center; */
        
    }

    .skill-card i {
        box-shadow: 0px 0px 01px 0px rgb(119, 119, 121);
    }

    .skill-card :hover {
        color: rgba(73, 158, 255, 0.842);
        background: white;
        border-radius: 0.05em;
        /* background: gainsboro; */
        box-shadow: 10px 3px 30px 10px rgb(152, 158, 151);
    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: black; */
        color: white;
        padding: 5em;
    }
    .contact-card a i {
        font-size: 70px;
    }
}

@media screen and (min-width: 743px) {

}

@media screen and (min-width: 803px) {
    .myname {
        font-size: 1.8em;
        /* font-weight: bolder; */
    }
    .work-pics {
        flex-direction: row;
    }
    .work-card {
        max-width: 45%;
    }
    .profile {
        max-width: 150px;
    }
}
